body{
    background-color: #BCB8B1;
}

.main-container{
    align-content: center;
    background-color: whitesmoke;
    width: 700px ;
    margin: 40px auto;
    margin-top: 40px ;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0px solid ;
    border-radius: 10px;
    /* text-align: center; */
}

hr{
    width: 700px;
}

.back-button{
    background: #7C98B3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 15px;
    color: white;
    border: 0px ;
    border-radius: 3px;
}

h3{
    text-align: left;
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 10px;
    margin-right: 10px;
}

table, th, td{
    border: 2px solid #463F3A;
}

.invoice{
    width: 675px;
}
.signature{
    width: 150px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}