body{
    background-color: #463F3A;
}

.main-container{
    background-color: #BCB8B1;
    max-width: 450px;
    margin: 40px auto ;
    padding-top: 10px ;
    padding-left: 20px ;
    padding-right: 20px ;
    padding-bottom: 20px ;
    border: 0px solid ;
    border-radius: 10px;
    text-align: center;
}

hr{
    width: 440px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input{
    margin-left: 25px;
    margin-bottom: 7px;
    background-color: #F4F3EE;
    border: 0px;
    border-radius: 3px;
    width: 400px;
    height: 23px;
}

.keterangan{
    margin-left: 25px;
    margin-bottom: 7px;
    background-color: #F4F3EE;
    border: 0px;
    border-radius: 3px;
    width: 400px;
    height: 120px;
}

label{
    margin-left: 25px;
}

button{
    background: #7C98B3;
    padding: 7px 15px;
    color: white;
    border: 0px ;
    border-radius: 3px;
}

.choose{
    height: 20px;
}

.link-button:disabled {
    background: #ccc; /* Change color when disabled */
    cursor: not-allowed; /* Change cursor style when disabled */
}
